In [1]:
#imports 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
#reading in dataset train 
df = pd.read_csv('./datasets/train_cleaned.csv')
df_test = pd.read_csv('datasets/test_cleanded.csv')

## Taking a look at the data

In [3]:
df.head()

,Unnamed: 0,Id,PID,Lot Frontage,Lot Area,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,...,Garage Yr Blt_2006.0,Garage Yr Blt_2007.0,Garage Yr Blt_2008.0,Garage Yr Blt_2009.0,Garage Yr Blt_2010.0,Yr Sold_2006,Yr Sold_2007,Yr Sold_2008,Yr Sold_2009,Yr Sold_2010
0,0,109,533352170,69.093349,13517.0,289.0,533.0,0.0,192.0,725.0,...,0,0,0,0,0,0,0,0,0,1
1,1,544,531379050,43.000000,11492.0,132.0,637.0,0.0,276.0,913.0,...,0,0,0,0,0,0,0,0,1,0
2,2,153,535304180,68.000000,7922.0,0.0,731.0,0.0,326.0,1057.0,...,0,0,0,0,0,0,0,0,0,1
3,3,318,916386060,73.000000,9802.0,0.0,0.0,0.0,384.0,384.0,...,0,1,0,0,0,0,0,0,0,1
4,4,255,906425045,82.000000,14235.0,0.0,0.0,0.0,676.0,676.0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
(df.corr()[['SalePrice']].sort_values(by = "SalePrice", ascending = False))[30:50]

                      SalePrice
Lot Frontage           0.325498
Wood Deck SF           0.324047
Overall Qual_10        0.318401
Mas Vnr Type_Stone     0.310077
Kitchen Qual_Gd        0.303223
Half Bath_1            0.297350
Paved Drive_Y          0.279995
Lot Shape_IR1          0.270844
Neighborhood_NoRidge   0.264062
Roof Style_Hip         0.263789
Central Air_Y          0.260983
Garage Cond_TA         0.259605
Neighborhood_StoneBr   0.257716
Mas Vnr Type_BrkFace   0.255344
2nd Flr SF             0.245916
Year Built_2008        0.244574
Electrical_SBrkr       0.244465
Garage Qual_TA         0.238168
Year Built_2006        0.237858
Fireplace Qu_Ex        0.235208

## EDA Graphs

In [ ]:
plt.figure(figsize = (12,6))
sns.histplot(df['SalePrice'], bins =50, color="#595959");

plt.axvline(x=df['SalePrice'].mean(),
            color='#fd0000')

plt.xlabel("Home Sales Price") 
plt.ylabel("Number of Homes") 

plt.savefig('price_hist.png')

In [ ]:
df['SalePrice'].mean()
df['SalePrice'].median()

In [ ]:
colors = {'#fd0000', "#595959"}

In [ ]:
sns.scatterplot(x=df['1st Flr SF'], y = df['SalePrice'], color = '#595959' );

plt.xlabel("First Floor Area") 
plt.ylabel("Home Sales Price") 
plt.savefig('scat_first-floor.png')

In [ ]:
sns.scatterplot(x=df['Total Bsmt SF'], y = df['SalePrice'], color="#595959");
plt.xlabel("Basement Area") 
plt.ylabel("Home Sales Price") 
plt.savefig('basement.png')

In [ ]:
sns.scatterplot(x=df['1st Flr SF'], y = df['SalePrice'], hue=df['Foundation_PConc'], legend=False, palette= colors );

plt.xlabel("First Floor Area") 
plt.ylabel("Home Sales Price") 
plt.savefig('poured_founation.png')

In [ ]:
sns.scatterplot(x=df['1st Flr SF'], y = df['SalePrice'], hue=df['Overall Cond_4'], legend=False, palette= colors );

plt.xlabel("First Floor Area") 
plt.ylabel("Home Sales Price")
plt.savefig('cond_4.png')

In [ ]:
sns.scatterplot(x=df['Lot Area'], y = df['SalePrice']);

In [ ]:
sns.scatterplot(x=df['Lot Frontage'], y = df['SalePrice']);

In [ ]:
sns.scatterplot(x=df['Mas Vnr Area'], y = df['SalePrice']);

In [ ]:
sns.scatterplot(x=df['2nd Flr SF'], y = df['SalePrice']);

In [ ]:
sns.scatterplot(x=df['BsmtFin SF 1'], y = df['SalePrice']);

In [ ]:
sns.scatterplot(x=df['Garage Area'], y = df['SalePrice']);

In [ ]:
sns.scatterplot(x=df['Bsmt Unf SF'], y = df['SalePrice']);

In [ ]:
sns.scatterplot(x=df['Total Bsmt SF'], y = df['SalePrice']);

In [ ]:
sns.scatterplot(x=df['Low Qual Fin SF'], y = df['SalePrice']);

In [ ]:
sns.scatterplot(x=df['Garage Area'], y = df['SalePrice']);

In [ ]:
sns.scatterplot(x=df['Gr Liv Area'], y = df['SalePrice']);

## Removing Outlyers

In [ ]:
df['SalePrice'].nsmallest(n=10)

In [ ]:
#there seems to be a few very small sale prices, we will remove those 
df.drop(df[df['SalePrice'] <40_000].index, inplace=True)

In [ ]:
df['SalePrice'].nlargest(n=10)

In [ ]:
#df.drop(df[df['SalePrice'] >400_000].index, inplace=True)

Correlation.  I am going to look at corr and take out the values in the middle

In [ ]:
corr = (df.corr()[['SalePrice']].sort_values(by = "SalePrice", ascending = False))
corr = corr[97:197].index
#corr = corr.drop('Id')

In [ ]:
df =df.drop(columns = corr)

In [ ]:
corr

In [ ]:
df_test = df_test.drop(columns = corr)

Seeing what corr is left with a heatmap

In [ ]:
df.corr()[['SalePrice']].sort_values(by=['SalePrice'], ascending=False)[:35]

## I fit the model and made preditions in the othe sheets

In [ ]:
sub3 = pd.read_csv('Submissions/sub3.csv')

In [ ]:
plt.figure(figsize = (12,6))
sns.histplot(sub3['SalePrice'], bins =50, color="#595959");

plt.axvline(x=df['SalePrice'].mean(),
            color='#fd0000')

plt.xlabel("Home Sales Price") 
plt.ylabel("Number of Homes") 

plt.savefig('pred_hist.png')

In [ ]:
sub3['SalePrice'].mean()

In [ ]:
sub3['SalePrice'].median()